<html>
<body background="mario.jpg" >
<h1>Hello World of CHEF</h1>
<h2>HOSTNAME     : <%= node['hostname']%> </h2>
<h2>FQDN         : <%= node['fqdn']%></h2>
<h2>IPADDRESS    : <%= node['ipaddress']%></h2>
<h2>FIRST NAME   : <%= @firstname  %></h2>
<h2>LAST NAME    : <%= @lastname  %></h2>
</body>
</html>
